<h2>ToDoリスト</h2>

<table border="1">
  <thead>
    <th>No</th>
    <th>タイトル</th>
    <th>担当者</th>
  </thead>
  <tbody>
    <!-- todoリスト分繰り返す -->
    <tr *ngFor="let todo of todoList; let index = index">
      <td>{{ index + 1 }}</td>
      <td>{{ todo.title }}</td>
      <td>
        <!-- userIdとリンクする ※双方向データバインディングである[(ngModel)]とするとエラーになるので注意 -->
        <mat-select [ngModel]="todo.userId" (ngModelChange)="myFunc($event)">
          <!-- 未選択時の設定 -->
          <mat-option value=""> 担当者なし </mat-option>
          <!-- 選択肢はユーザーの中から選択 valueはuserのID -->
          <mat-option *ngFor="let user of userList" [value]="user.id">
            {{ user.name }}
          </mat-option>
        </mat-select>
      </td>
    </tr>
  </tbody>
</table>
